<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Xalli Hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link rel="shortcut icon" href="~/LogoXalli.ico" type="image/x-icon" />
    <link href="~/Content/main.css" rel="stylesheet">

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">

            <div class="app-header__logo">

                <div class="logo-src">

                </div>

                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Escriba para buscar">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-database"> </i>
                                Estadísticas
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                Registrar Orden
                            </a>
                        </li>

                        <!--
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>
                        -->

                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="images/avatars/1.jpg" alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">Cuenta de Usuario</button>
                                            <!--<button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>-->
                                            <button type="button" tabindex="0" class="dropdown-item">Mensajes</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item">Editar Información</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Dany Cordero
                                    </div>
                                    <div class="widget-subheading">
                                        Admin
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="scrollbar-container"></div>
        
        <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="scrollbar-sidebar">
                        <!--INICIO CONTENEDOR INTERNO SIDEBAR-->
                        <div class="app-sidebar__inner">
                            <!--INICIO DE MENU SIDEBAR-->
                            <ul class="vertical-nav-menu">

                                <!--INICIO PRIMERA SECCION-->
                                <li class="app-sidebar__heading">Principal</li>
                                <!--INICIO DASHBOARD-->
                                <li>
                                    @*<a href="index.html" class="mm-active">
                                    <i class="metismenu-icon pe-7s-display1"></i>
                                    Dashboard
                                </a>*@

                                    <a href="@Url.Action("index","home")">
                                        <i class="metismenu-icon pe-7s-display1"></i>
                                        <span>Dashboard</span>
                                    </a>

                                </li>
                                <!--FIN DASHBOARD-->
                                <!--FIN PRIMERA SECCION-->
                                <!--INICIO SEGUNDA SECCION-->
                                <li class="app-sidebar__heading">Componentes</li>
                                <!--INICIO ACCIONES-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-note"></i>
                                        Acciones
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>

                                    <!--INICIO SUB-MENU ACCIONES-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon"></i>
                                                Entrada de productos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Registrar orden
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Facturación
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU ACCIONES-->
                                </li>
                                <!--FIN ACCIONES-->
                                <!--FIN SEGUNDA SECCION-->
                                <!--INICIO TERCERA SECCION-->
                                <li class="app-sidebar__heading">CATALOGOS</li>

                                <!--INICIO INVENTARIO-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-notebook"></i>
                                        Inventario
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>

                                    <!--INICIO SUB-MENU INVENTARIO-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Proveedores
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("index","TipoDeEntradas")">
                                                <i class="metismenu-icon">
                                                </i>Tipos de entrada
                                            </a>
                                        </li>
                                        <li>
                                            @*<a href="components-notifications.html">
                                            <i class="metismenu-icon">
                                            </i>Categorias
                                        </a>*@

                                            <a href="@Url.Action("index","Categorias")">
                                                <i class="metismenu-icon"></i>
                                                <span>Categorias</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Productos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Unidades de medidas
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU INVENTARIO-->
                                </li>

                                <!--INICIO CONTROL RESTAURANTE-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-info"></i>
                                        Control Restaurante
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <!--INICIO SUB-MENU CONTROL RESTAURANETE-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Platillos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Recetas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Mesas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Tipos de Cliente
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Tipo de Menu
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU CONTROL RESTAURANTE-->
                                </li>
                                <!--FIN CONTROL RESTAURANTE-->
                                <!--INICIO PAGOS-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-notebook"></i>
                                        Pagos
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>

                                    <!--INICIO SUB-MENU PAGOS-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Tipos de Pago
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU PAGOS-->
                                </li>
                                <!--FIN PAGOS-->
                                <!--INICIO TERCERA SECCION-->
                                <li class="app-sidebar__heading">Busqueda &amp; Reportes</li>
                                <!--INICIO MENU CONSULTAS-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-users"></i>
                                        Consultas
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <!--INICIO SUB-MENU CONSULTAS-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Clientes frecuentes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Facturado por mes
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU CONSULTAS-->
                                </li>
                                <!--FIN MENU CONSULTAS-->
                                <!--INICIO REPORTES-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-id"></i>
                                        Reportes
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <!--INICIO SUB-MENU REPORTES-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Productos más vendidos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Mesero más productivo
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU REPORTES-->
                                </li>
                                <!--FIN MENU REPORTES-->
                                <!--FIN TERCERA SECCION-->
                                <!--INICIO CUARTA SECCION-->
                                <li class="app-sidebar__heading">Seguridad</li>
                                <!--INICIO ASIGNAR/EDITAR-->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-graph2"></i>
                                        Asignar/Editar
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <!--INICIO SUB-MENU ASIGNAR/EDITAR-->
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Usuarios
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="metismenu-icon">
                                                </i>Roles &amp; Funciones
                                            </a>
                                        </li>
                                    </ul>
                                    <!--FIN SUB-MENU ASIGNAR/EDITAR-->
                                </li>
                                <!--FIN ASIGNAR/EDITAR-->
                                @*<li class="app-sidebar__heading">Charts</li>
                            <li>
                                <a href="charts-chartjs.html">
                                    <i class="metismenu-icon pe-7s-graph2">
                                    </i>ChartJS
                                </a>
                            </li>
                            <li class="app-sidebar__heading">PRO Version</li>
                            <li>
                                <a href="https://dashboardpack.com/theme-details/architectui-dashboard-html-pro/" target="_blank">
                                    <i class="metismenu-icon pe-7s-graph2">
                                    </i>
                                    Upgrade to PRO
                                </a>
                            </li>*@
                            </ul>
                            <!--FIN DE MENU SIDEBAR-->                           
                        </div>
                        <!--FIN CONTENEDOR INTERNO SIDEBAR-->
                    </div>
                </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                que pedo
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>
</html>
