@model XalliHotel.Models.TipoDeEntrada

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>

<div>
    <h4>TipoDeEntrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoTE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
